/*
    Author:	Dmitry Lyakhovoy
    Email:	lyakhovoy.d@ya.ru
    Git:	github.com/lyakhovoy-dmitry
*/
/* 
*   Drop down default styles
 */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: -400;
}

/*  
    *Custom Styles
*/
.header {
  position: relative;
  height: 120px;
  width: 100vw;
}

.header .title {
  position: absolute;
  font-size: 80px;
  color: #fff;
  text-shadow: #424242 2px 2px;
}

.header .frame {
  height: inherit;
  width: inherit;
  position: relative;
  top: 30px;
  left: 30px;
}

.container {
  height: inherit;
  width: inherit;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.accent {
  background-color: #ffe816;
}

.title {
  background-color: transparent;
  font-family: "Lucida Sans Unicode";
  z-index: 50;
}

.frame {
  display: block;
  border: 2px solid #000;
  z-index: 10;
}

.blank-color {
  height: inherit;
  width: inherit;
  background-color: #ffe816;
}
